.fixed-page{
    overflow: hidden; /*запрещаем прокручивание страницы при открытом меню*/
}
.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    height:50px;
    background-color: #F9EEE3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}
.page-header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.page-header__nav {
    width:100%;
    position: absolute;
    right: 36px;
    display: block;
}
.header-nav__menu {
    display: flex;
    position: relative;
    z-index: 2;
    overflow: auto; /*для того, чтобы меню скроллилось в случае, если оно не влезает на экран*/
}
.header-menu__item {
    list-style: none;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-item__link {
    color:#C47346;
}
.content__other {
    margin-top: 57px;
    padding: 10px;
    line-height: 34px;
}
@media(max-width:767px) {
    .page-header__burger {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
    }
    .page-header__burger span,
    .page-header__burger::before,
    .page-header__burger::after {
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #C47344;
        margin: 0 auto;
    }
    .page-header__burger span {
        top:16px;
    }
    .page-header__burger::before,
    .page-header__burger::after {
        content:'';
    }
    .page-header__burger::after {
        bottom:5px;
    }
    .page-header__burger::before {
        top:5px;
    }
    .page-header__nav  {
        display: block;
        position: absolute;
        top: 57px;
        left: 0;
        background-color: #F9EEE3;
        box-shadow: #ccc;
        width: 50%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
    }
    .page-header__nav.open-menu {
        left:0;
    }
    .page-header__burger.open-menu span {
        opacity:0; 
        transition: all 0.2s ease-out 0.1s;
    }
    .page-header__burger.open-menu::before {
        transform: rotate(38deg);
        transition: all 0.2s ease-out 0.1s;
        top: 16px;
        transition: 0.4s;
    }
    .page-header__burger.open-menu::after {
        transform: rotate(-38deg);
        transition: all 0.2s ease-out 0.1s;
        top: 16px;
        transition: 0.4s;
    }
    .header-nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 250px;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        overflow: auto; /*для того, чтобы меню скроллилось в случае, если оно не влезает на экран*/
    }
    .header-menu__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        min-height: 60px;
    }
}