.page-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: #F9EEE3;
}
.page-header::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #F9EEE3;
    z-index: 4;
}
.page-header__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page-header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header-top__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    cursor: pointer;
    width:120px;
    z-index: 5;
}
.header-burger {
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    z-index: 5;
}
.header-burger__span {
    position: absolute;
    background-color: #C47344;
    left:0;
    width: 100%;
    height: 2px;
    top:9px;
    transition: all 0.3s ease 0s;
}
.header-burger::before,
.header-burger::after {
    content: '';
    background-color: #C47344;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    transition: all 0.3s ease 0s;
}
.header-burger::before {
    top:0;
}
.header-burger::after {
    bottom: 0;
}
.active {
    display: block;
}
.header-burger.active::before {
    transform: rotate(45deg);
    top:9px;
}
.header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.header-burger.active span {
    transform: scale(0);
}
.header-menu {
    display: block;
    justify-content: center;
    position: fixed;
    top:-100%;
    left:0;
    width: 100%;
    background-color: #F9EEE3;
    transition: all 0.2s ease 0s;
    padding:63px 0px 0px 0px;
}
.header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header-menu.active{
    top:0;
}
.header-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #C47344;
    z-index: 5;
}
.header-list__item:last-child {
    margin-bottom: 0px;
}
.header-item__link {
    height: 100%;
    color:#C47344;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 8px;
}
.zdorova {
    display: block;
}
.block{
    transition: all 0.2s ease 0s;
    padding-top: 180px;
}